body {
    width: 175px;
}

ul {
    list-style: none;
    padding: 0;
}

.shareIt {
      background-color: white;
      color: black;
      margin: 1px 1px 1px;
   }

      .shareIt span {
         vertical-align: top;
         margin-top: 1px
      }

      .shareIt a {
         display: inline-block;
         margin-top: 1px;
      }

         .shareIt a img {
            height: 16px;
            width: 16px;
            opacity: 0.85;
         }

         .shareIt a img:hover {
            opacity: 1;
         }